<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>{{title}}</title>
  </head>
  <body class="mx-2">
    {% if session['is_admin'] %}
      <a href="/admin_panel" class="btn btn-warning">Админ-панель</a>
    {% endif %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-2">
      <a href="/" class="navbar-brand">Главная</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if "username" in session %}
          <li class="nav-item active">
            <a href="/cart/{{ session['user_id'] }}" class="nav-link">Корзина <span class="badge badge-pill badge-primary">{{cart_items}}</span></a>
          </li>
          <li class="nav-item">
            <a href="/my_orders" class="nav-link">Мои заказы</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <form class="form-inline mr-5 my-lg-0" method="post">
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Поиск..." aria-label="Поиск...">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск...</button>
      </form>
      <div class="mr-1 text-white">
        {% if "username" in session %}
          <a href="/logout">{{ session['username'] }}</a>
        {% else %}
          <a href="/login">Войти</a>/
          <a href="/registration">Зарегестрироваться</a>
        {% endif %}
      </div>
    </nav>
    <div class="bg-light my-2 mx-2 py-2 px-2">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
