{% extends "base.html" %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">USER ID</th>
      <th scope="col">Товар</th>
      <th scope="col">Статус</th>
      <th scope="col">Цена</th>
      <th scope="col">Кол-во</th>
      <th scope="col">Стоимость</th>
      <th scope="col">Дата</th>
      <th scope="col">Отменить заказ</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <th>{{ order[0][0] }}</th>
      <th>{{ order[0][2] }}</th>
      <th><a href="/edit_order/{{order[0][0]}}">{{ order[1][2] }}</a></th>
      <th>{{ order[0][3] }}</th>
      <th>{{ order[0][4] }}</th>
      <td>{{ order[0][5] }}</td>
      <td>{{ order[0][6] }}</td>
      <td>{{ order[0][7] }}</td>
      <td class="text-center">
        <a href="/delete_order/{{order[0][0]}}" class="close mx-5" aria-label="Close" role="button">
          <span aria-hidden="true">&times;</span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
